{
 "swagger": "2.0",
 "info": {
  "title": "iotda API",
  "version": "v1"
 },
 "host": "iotda.cn-north-4.myhuaweicloud.com",
 "basePath": "/",
 "schemes": [
  "https"
 ],
 "paths": {
  "/v5/iot/{project_id}/apps": {
   "post": {
    "tags": [
     "ApplicationManagement"
    ],
    "summary": "创建资源空间",
    "description": "资源空间对应的是物联网平台原有的应用,在物联网平台的含义与应用一致,只是变更了名称。应用服务器可以调用此接口创建资源空间。",
    "operationId": "AddApplication",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID",
      "required": true,
      "type": "string",
      "maxLength": 32,
      "minLength": 0,
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "maxLength": 36,
      "minLength": 0,
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddApplicationRequestBody",
      "description": "创建资源空间所携带的结构体",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AddApplication"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "app_id": "0ab87ceecbfc49acbcc8d5acdef3c68c",
        "app_name": "testApp",
        "create_time": "20151212T121212Z",
        "default_app": true
       }
      },
      "schema": {
       "$ref": "#/definitions/ApplicationDTO"
      },
      "x-SuccessCode": true
     },
     "403": {
      "description": "FORBIDDEN",
      "x-Error": [
       "IOTDA.000015",
       "IOTDA.000021",
       "IOTDA.001008",
       "IOTDA.001009"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_6012",
    "x-returnType": "ResponseEntity<ApplicationDTO>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/apps",
    "x-request-examples-1": {
     "app_name": "testApp"
    }
   },
   "get": {
    "tags": [
     "ApplicationManagement"
    ],
    "summary": "查询资源空间列表",
    "description": "资源空间对应的是物联网平台原有的应用,在物联网平台的含义与应用一致,只是变更了名称。应用服务器可以调用此接口查询资源空间列表。",
    "operationId": "ShowApplications",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID",
      "required": true,
      "type": "string",
      "maxLength": 32,
      "minLength": 0,
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "maxLength": 36,
      "minLength": 0,
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "default_app",
      "in": "query",
      "description": "**参数说明**:默认资源空间标识,不携带则查询所有资源空间。\n**取值范围**:\n- true:查询默认资源空间。\n- false:查询非默认资源空间。",
      "required": false,
      "type": "boolean",
      "x-example": true
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "examples": {
       "application/json": {
        "applications": [
         {
          "app_id": "0ab87ceecbfc49acbcc8d5acdef3c68c",
          "app_name": "testApp",
          "create_time": "20151212T121212Z",
          "default_app": true
         }
        ]
       }
      },
      "schema": {
       "$ref": "#/definitions/ApplicationsDTO"
      },
      "x-SuccessCode": true
     },
     "403": {
      "description": "FORBIDDEN",
      "x-Error": [
       "IOTDA.000021"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_6011",
    "x-returnType": "ResponseEntity<ApplicationsDTO>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/apps"
   }
  },
  "/v5/iot/{project_id}/bridges": {
   "post": {
    "tags": [
     "BridgeManagement"
    ],
    "summary": "创建网桥",
    "description": "应用服务器可调用此接口在物联网平台创建一个网桥,仅在创建后的网桥才可以接入物联网平台。\n- 一个实例最多支持20个网桥。\n- 仅**标准版实例、企业版实例**支持该接口调用,基础版不支持。",
    "operationId": "AddBridge",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddBridgeRequestBody",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AddBridge"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "bridge_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
        "bridge_name": "dianabridge",
        "auth_info": {
         "auth_type": "SECRET",
         "secret": "3b935a250c50dc2c6d481d048cefdc3c"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryBridgeBase"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.019600",
       "IOTDA.019603"
      ]
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.019601"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000001"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "N",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-returnType": "ResponseEntity<QueryBridgeBase>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/bridges",
    "x-request-examples-text-1": {
     "bridge_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "bridge_name": "dianabridge"
    }
   },
   "get": {
    "tags": [
     "BridgeManagement"
    ],
    "summary": "查询网桥列表",
    "description": "应用服务器可调用此接口在物联网平台查询网桥列表。",
    "operationId": "ListBridges",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "limit",
      "in": "query",
      "description": "**参数说明**:分页查询时每页显示的记录数。\n**取值范围**:1-50的整数,默认值为10。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "**参数说明**:上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。\n**取值范围**:长度为24的十六进制字符串,默认值为ffffffffffffffffffffffff。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffff",
      "pattern": "^[a-fA-F0-9]{24}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "**参数说明**:表示从marker后偏移offset条记录开始查询。默认为0,取值范围为0-500的整数。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。\n**取值范围**:0-500的整数,默认为0。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "bridges": [
         {
          "bridge_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
          "bridge_name": "dianabridge",
          "status": "ONLINE"
         }
        ],
        "page": {
         "count": 10,
         "marker": "5c90fa7d3c4e4405e8525079"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/ListBridgeResponse"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.019600",
       "IOTDA.019603"
      ]
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.019601"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000001"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "N",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-returnType": "ResponseEntity<ListBridgeResponse>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/bridges"
   }
  },
  "/v5/iot/{project_id}/certificates": {
   "post": {
    "tags": [
     "CertificateManagement"
    ],
    "summary": "上传设备CA证书",
    "description": "应用服务器可调用此接口在物联网平台上传设备CA证书",
    "operationId": "AddCertificate",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Sp-Auth-Token",
      "in": "header",
      "description": "Sp用户Token。通过调用IoBPS服务获取SP用户Token",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "chinatelecom"
     },
     {
      "name": "Stage-Auth-Token",
      "in": "header",
      "description": "Stage用户的Token, 仅提供给IoStage服务使用",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "stage"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "addCertificateRequestBody",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/CreateCertificateDTO"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "certificate_id": "string",
        "cn_name": "string",
        "owner": "string",
        "status": true,
        "verify_code": "string",
        "provision_enable": true,
        "template_id": "61c970ce2d63eb6ee655dbf0",
        "create_date": "20191212T121212Z",
        "effective_date": "20191212T121212Z",
        "expiry_date": "20221212T121212Z"
       }
      },
      "schema": {
       "$ref": "#/definitions/CertificatesRspDTO"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.014300",
       "IOTDA.014301",
       "IOTDA.014302",
       "IOTDA.014303",
       "IOTDA.014309"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000021",
       "IOTDA.001006",
       "IOTDA.001007",
       "IOTDA.001005",
       "IOTDA.000022"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0014",
    "x-externalAPI": true,
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<CertificatesRspDTO>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/certificates",
    "x-request-examples-1": {
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka"
    }
   },
   "get": {
    "tags": [
     "CertificateManagement"
    ],
    "summary": "获取设备CA证书列表",
    "description": "应用服务器可调用此接口在物联网平台获取设备CA证书列表",
    "operationId": "ListCertificates",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Sp-Auth-Token",
      "in": "header",
      "description": "Sp用户Token。通过调用IoBPS服务获取SP用户Token",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "chinatelecom"
     },
     {
      "name": "Stage-Auth-Token",
      "in": "header",
      "description": "Stage用户的Token, 仅提供给IoStage服务使用",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "stage"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "app_id",
      "in": "query",
      "description": "资源空间ID。此参数为非必选参数,存在多资源空间的用户需要使用该接口时,可以携带该参数查询指定资源空间下的证书列表,不携带该参数则会查询该用户下所有证书列表。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     },
     {
      "name": "limit",
      "in": "query",
      "description": "分页查询时每页显示的记录数,默认值为10,取值范围为1-50的整数。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffffffffffffffff",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "表示从marker后偏移offset条记录开始查询。默认为0,取值范围为0-500的整数。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "certificates": [
         {
          "certificate_id": "string",
          "cn_name": "string",
          "owner": "string",
          "status": true,
          "verify_code": "string",
          "provision_enable": true,
          "template_id": "61c970ce2d63eb6ee655dbf0",
          "create_date": "20191212T121212Z",
          "effective_date": "20191212T121212Z",
          "expiry_date": "20221212T121212Z"
         }
        ],
        "page": {
         "count": 100,
         "marker": "5c8f3d2d3df1f10d803adbda"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/GetCertificatesRsp"
      },
      "x-SuccessCode": true
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000021",
       "IOTDA.001006",
       "IOTDA.001007",
       "IOTDA.000022"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0099",
    "x-externalAPI": true,
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<GetCertificatesRsp>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/certificates"
   }
  },
  "/v5/iot/{project_id}/devices": {
   "post": {
    "tags": [
     "DeviceManagement"
    ],
    "summary": "创建设备",
    "description": "应用服务器可调用此接口在物联网平台创建一个设备,仅在创建后设备才可以接入物联网平台。\n\n- 该接口支持使用gateway_id参数指定在父设备下创建一个子设备,并且支持多级子设备,当前最大支持二级子设备。\n- 该接口同时还支持对设备进行初始配置,接口会读取创建设备请求参数product_id对应的产品详情,如果产品的属性有定义默认值,则会将该属性默认值写入该设备的设备影子中。\n- 用户还可以使用创建设备请求参数shadow字段为设备指定初始配置,指定后将会根据service_id和desired设置的属性值与产品中对应属性的默认值比对,如果不同,则将以shadow字段中设置的属性值为准写入到设备影子中。\n- 该接口仅支持创建单个设备,如需批量注册设备,请参见 [创建批量任务](https://support.huaweicloud.com/api-iothub/iot_06_v5_0045.html)。",
    "operationId": "AddDevice",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddDeviceRequestBody",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AddDevice"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
        "app_name": "testAPP01",
        "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
        "node_id": "ABC123456789",
        "gateway_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
        "device_name": "dianadevice",
        "node_type": "ENDPOINT",
        "description": "watermeter device",
        "fw_version": "1.1.0",
        "sw_version": "1.1.0",
        "auth_info": {
         "auth_type": "SECRET",
         "secret": "3b93****fdc3c",
         "fingerprint": "dc0f****f22f",
         "secure_access": true,
         "timeout": 0
        },
        "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
        "product_name": "Thermometer",
        "status": "INACTIVE",
        "create_time": "20190303T081011Z",
        "tags": [
         {
          "tag_key": "testTagName",
          "tag_value": "testTagValue"
         }
        ],
        "extension_info": {
         "aaa": "xxx",
         "bbb": 0
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryDeviceBase"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000008",
       "IOTDA.013000",
       "IOTDA.013002",
       "IOTDA.013003",
       "IOTDA.014010",
       "IOTDA.014011",
       "IOTDA.014012",
       "IOTDA.014013",
       "IOTDA.014025",
       "IOTDA.014027",
       "IOTDA.014034",
       "IOTDA.014035",
       "IOTDA.014008",
       "IOTDA.014009",
       "IOTDA.014023",
       "IOTDA.014031"
      ]
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.001000",
       "IOTDA.001002",
       "IOTDA.013004",
       "IOTDA.014019",
       "IOTDA.014020",
       "IOTDA.014021",
       "IOTDA.014022",
       "IOTDA.014026",
       "IOTDA.014036",
       "IOTDA.000022"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.014000"
      ]
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0046",
    "x-apig-name": "IoTDA_API",
    "x-externalAPI": true,
    "x-interfaceFrequency": "HIGH",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<QueryDeviceBase>",
    "x-request-examples-description-1": "创建设备-秘钥认证",
    "x-request-examples-text-1": {
     "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "node_id": "ABC123456789",
     "device_name": "dianadevice",
     "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
     "auth_info": {
      "auth_type": "SECRET",
      "secret": "3b935a250c50dc2c6d481d048cefdc3c",
      "secure_access": true
     },
     "description": "watermeter device",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "extension_info": {
      "aaa": "xxx",
      "bbb": 0
     },
     "shadow": [
      {
       "service_id": "WaterMeter",
       "desired": {
        "temperature": "60"
       }
      }
     ]
    },
    "x-request-examples-url-2": "POST https://{endpoint}/v5/iot/{project_id}/devices",
    "x-request-examples-description-2": "创建设备-证书认证",
    "x-request-examples-text-2": {
     "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "node_id": "ABC123456789",
     "device_name": "dianadevice",
     "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
     "auth_info": {
      "auth_type": "CERTIFICATES",
      "fingerprint": "dc0f1016f495157344ac5f1296335cff725ef22f",
      "secure_access": true
     },
     "description": "watermeter device",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "extension_info": {
      "aaa": "xxx",
      "bbb": 0
     },
     "shadow": [
      {
       "service_id": "WaterMeter",
       "desired": {
        "temperature": "60"
       }
      }
     ]
    },
    "x-request-examples-url-3": "POST https://{endpoint}/v5/iot/{project_id}/devices",
    "x-request-examples-description-3": "创建子设备",
    "x-request-examples-text-3": {
     "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "node_id": "ABC123456789",
     "device_name": "dianadevice",
     "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
     "description": "watermeter device",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "gateway_id": "5a332c1a-d14f-489c-a8e7-4753b1bb0872",
     "extension_info": {
      "aaa": "xxx",
      "bbb": 0
     },
     "shadow": [
      {
       "service_id": "WaterMeter",
       "desired": {
        "temperature": "60"
       }
      }
     ]
    },
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/devices",
    "x-request-examples-1": {
     "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "node_id": "ABC123456789",
     "device_name": "dianadevice",
     "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
     "auth_info": {
      "auth_type": "SECRET",
      "secret": "3b935a250c50dc2c6d481d048cefdc3c",
      "fingerprint": "dc0f1016f495157344ac5f1296335cff725ef22f",
      "secure_access": true
     },
     "description": "watermeter device",
     "gateway_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "extension_info": {
      "aaa": "xxx",
      "bbb": 0
     },
     "shadow": [
      {
       "service_id": "WaterMeter",
       "desired": {
        "temperature": "60"
       }
      }
     ]
    }
   },
   "get": {
    "tags": [
     "DeviceManagement"
    ],
    "summary": "查询设备列表",
    "description": "应用服务器可调用此接口查询物联网平台中的设备信息列表。",
    "operationId": "ListDevices",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "product_id",
      "in": "query",
      "description": "**参数说明**:设备关联的产品ID,用于唯一标识一个产品模型,创建产品后获得。方法请参见 [创建产品](https://support.huaweicloud.com/api-iothub/iot_06_v5_0050.html)。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     },
     {
      "name": "gateway_id",
      "in": "query",
      "description": "**参数说明**:网关ID,用于标识设备所属的父设备,即父设备的设备ID。携带该参数时,表示查询该设备下的子设备,默认查询下一级子设备,如果需要查询该设备下所有各级子设备,请同时携带is_cascade_query参数为true;不携带该参数时,表示查询用户下所有设备。\n**取值范围**:长度不超过128,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     },
     {
      "name": "is_cascade_query",
      "in": "query",
      "description": "**参数说明**:是否级联查询,该参数仅在同时携带gateway_id时生效。默认值为false。\n**取值范围**:\n- true:表示查询设备ID等于gateway_id参数的设备下的所有各级子设备。\n- false:表示查询设备ID等于gateway_id参数的设备下的一级子设备。",
      "required": false,
      "type": "boolean",
      "default": false
     },
     {
      "name": "node_id",
      "in": "query",
      "description": "**参数说明**:设备标识码,通常使用IMEI、MAC地址或Serial No作为node_id。\n**取值范围**:长度不超过64,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9:_-]{1,64}$"
     },
     {
      "name": "device_name",
      "in": "query",
      "description": "**参数说明**:设备名称。\n**取值范围**:长度不超过256,只允许中文、字母、数字、以及_?'#().,&%@!-等字符的组合。",
      "required": false,
      "type": "string",
      "x-annotations": [
       "@Pattern(regexp = \"^[\\\\u4e00-\\\\u9fa5a-zA-Z0-9_?'#().,&%@!-]{1,256}$\")"
      ]
     },
     {
      "name": "limit",
      "in": "query",
      "description": "**参数说明**:分页查询时每页显示的记录数。\n**取值范围**:1-50的整数,默认值为10。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "**参数说明**:上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。\n**取值范围**:长度为24的十六进制字符串,默认值为ffffffffffffffffffffffff。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffff",
      "pattern": "^[a-fA-F0-9]{24}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "**参数说明**:表示从marker后偏移offset条记录开始查询。默认为0,取值范围为0-500的整数。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。\n**取值范围**:0-500的整数,默认为0。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     },
     {
      "name": "start_time",
      "in": "query",
      "description": "**参数说明**:查询设备注册时间在startTime之后的记录,格式:yyyyMMdd'T'HHmmss'Z',如20151212T121212Z。",
      "required": false,
      "type": "string",
      "pattern": "^[0-9]{8}[T]{1}[0-9]{6}[Z]{1}$"
     },
     {
      "name": "end_time",
      "in": "query",
      "description": "**参数说明**:查询设备注册时间在endTime之前的记录,格式:yyyyMMdd'T'HHmmss'Z',如20151212T121212Z。",
      "required": false,
      "type": "string",
      "pattern": "^[0-9]{8}[T]{1}[0-9]{6}[Z]{1}$"
     },
     {
      "name": "app_id",
      "in": "query",
      "description": "**参数说明**:资源空间ID。此参数为非必选参数,存在多资源空间的用户需要使用该接口时,可以携带该参数查询指定资源空间下的设备列表,不携带该参数则会查询该用户下所有设备列表。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "devices": [
         {
          "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
          "app_name": "testAPP01",
          "device_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
          "node_id": "ABC123456789",
          "gateway_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
          "device_name": "dianadevice",
          "node_type": "ENDPOINT",
          "description": "watermeter device",
          "fw_version": "1.1.0",
          "sw_version": "1.1.0",
          "product_id": "b640f4c203b7910fc3cbd446ed437cbd",
          "product_name": "Thermometer",
          "status": "INACTIVE",
          "tags": [
           {
            "tag_key": "testTagName",
            "tag_value": "testTagValue"
           }
          ]
         }
        ],
        "page": {
         "count": 100,
         "marker": "5c8f3d2d3df1f10d803adbda"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryDevices"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000009",
       "IOTDA.000010",
       "IOTDA.000011",
       "IOTDA.000012",
       "IOTDA.000013",
       "IOTDA.000014"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.001000",
       "IOTDA.001002",
       "IOTDA.000022"
      ]
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0048",
    "x-apig-name": "IoTDA_API",
    "x-externalAPI": true,
    "x-interfaceFrequency": "HIGH",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<QueryDevices>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/devices"
   }
  },
  "/v5/iot/{project_id}/device-group": {
   "post": {
    "tags": [
     "DeviceGroup"
    ],
    "summary": "添加设备组",
    "description": "应用服务器可调用此接口新建设备组,一个华为云账号下最多可有1,000个设备组,包括父设备组和子设备组。设备组的最大层级关系不超过5层,即群组形成的关系树最大深度不超过5。",
    "operationId": "AddDeviceGroup",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddDeviceGroupRequestBody",
      "description": "**参数说明**:请求结构体,见请求结构体说明。",
      "required": false,
      "schema": {
       "$ref": "#/definitions/AddDeviceGroupDTO"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "group_id": "04ed32dc1b0025b52fe3c01a27c2babc",
        "name": "GroupA",
        "description": "群组A",
        "super_group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
        "group_type": "STATIC"
       }
      },
      "schema": {
       "$ref": "#/definitions/DeviceGroupResponseDTO"
      }
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.001006",
       "IOTDA.001005",
       "IOTDA.001007",
       "IOTDA.000021",
       "IOTDA.003002",
       "IOTDA.003003",
       "IOTDA.003004",
       "IOTDA.000022"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.003001"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-apig-name": "IoTDA_API",
    "x-publishpath": "iot_06_v5_0051",
    "x-externalAPI": true,
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<DeviceGroupResponseDTO>",
    "x-request-examples-description-1": "创建静态群组",
    "x-request-examples-text-1": {
     "name": "GroupA",
     "description": "群组A",
     "super_group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "group_type": "STATIC"
    },
    "x-request-examples-url-2": "POST https://{endpoint}/v5/iot/{project_id}/device-group",
    "x-request-examples-description-2": "创建动态群组",
    "x-request-examples-text-2": {
     "name": "GroupA",
     "description": "群组A",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
     "dynamic_group_rule": "product_id = '63fef97897bacf7a56438cba'",
     "group_type": "DYNAMIC"
    },
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/device-group",
    "x-request-examples-1": {
     "name": "GroupA",
     "description": "群组A",
     "super_group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka"
    }
   },
   "get": {
    "tags": [
     "DeviceGroup"
    ],
    "summary": "查询设备组列表",
    "description": "应用服务器可调用此接口查询物联网平台中的设备组信息列表。",
    "operationId": "ListDeviceGroups",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "limit",
      "in": "query",
      "description": "**参数说明**:分页查询时每页显示的记录数。\n**取值范围**:1-50的整数,默认值为10。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "**参数说明**:上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。\n**取值范围**:长度为24的十六进制字符串,默认值为ffffffffffffffffffffffff。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffff",
      "pattern": "^[a-fA-F0-9]{24}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "**参数说明**:表示从marker后偏移offset条记录开始查询。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。\n**取值范围**:0-500的整数,默认为0。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     },
     {
      "name": "last_modified_time",
      "in": "query",
      "description": "**参数说明**:查询设备组在last_modified_time之后修改的记录。\n**取值范围**:格式为yyyyMMdd'T'HHmmss'Z',如20151212T121212Z。",
      "required": false,
      "type": "string",
      "pattern": "^[0-9]{8}[T]{1}[0-9]{6}[Z]{1}$"
     },
     {
      "name": "app_id",
      "in": "query",
      "description": "**参数说明**:资源空间ID。此参数为非必选参数,存在多资源空间的用户需要使用该接口时,可以携带该参数查询指定资源空间下的产品列表,不携带该参数则会查询该用户下所有产品列表。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     },
     {
      "name": "group_type",
      "in": "query",
      "description": "**参数说明**:设备组类型,默认为静态设备组;当设备组类型为动态设备组时,需要填写动态设备组规则",
      "required": false,
      "type": "string",
      "pattern": "DYNAMIC|STATIC"
     },
     {
      "name": "name",
      "in": "query",
      "description": "**参数说明**:设备组名称,单个资源空间下不可重复。\n**取值范围**:长度不超过64,只允许中文、字母、数字、以及_? '#().,&%@!-等字符的组合。",
      "required": false,
      "type": "string",
      "maxLength": 64,
      "minLength": 1,
      "x-annotations": [
       "@Pattern(regexp = \"^[\\\\u4e00-\\\\u9fa5a-zA-Z0-9_? '#().,&%@!-]{1,64}$\")"
      ]
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "device_groups": [
         {
          "group_id": "04ed32dc1b0025b52fe3c01a27c2babc",
          "name": "GroupA",
          "description": "群组A",
          "super_group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
          "group_type": "STATIC"
         }
        ],
        "page": {
         "count": 10,
         "marker": "5c90fa7d3c4e4405e8525079"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryDeviceGroupsResponseDTO"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000009"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.001006",
       "IOTDA.001007",
       "IOTDA.000021",
       "IOTDA.000022"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-apig-name": "IoTDA_API",
    "x-publishpath": "iot_06_v5_0053",
    "x-externalAPI": true,
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<QueryDeviceGroupsResponseDTO>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/device-group"
   }
  },
  "/v5/iot/{project_id}/product-functions": {
   "post": {
    "tags": [
     "FunctionServiceManagement"
    ],
    "summary": "创建编解码函数",
    "description": "提供创建编解码函数的功能。",
    "operationId": "AddFunctions",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddFunctionsRequestBody",
      "description": "创建的编解码函数信息",
      "required": true,
      "schema": {
       "$ref": "#/definitions/FunctionRequestDTO"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "app_id": "0ab87ceecbfc49acbcc8d5acdef3c68c",
        "product_id": "5ba24f5ebbe8f56f5a14f605",
        "function_id": "9739d740-4da1-46e1-8075-77145265cd92",
        "urn": "urn:fss:cn-north-4:46b6f338fc3445b8846c71dfb1fbd9e8:function:java:codecFunc",
        "description": "xxx",
        "create_time": "20190303T081011Z"
       }
      },
      "schema": {
       "$ref": "#/definitions/FunctionDTO"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000006",
       "IOTDA.013000",
       "IOTDA.018010"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000002",
       "IOTDA.001007"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.018009"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000001"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-iftype": "OpenAPI_new",
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-returnType": "ResponseEntity<FunctionDTO>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/product-functions",
    "x-request-examples-description-1": "创建编解码函数",
    "x-request-examples-text-1": {
     "app_id": "0ab87ceecbfc49acbcc8d5acdef3c68c",
     "product_id": "5ba24f5ebbe8f56f5a14f605",
     "urn": "urn:fss:cn-north-4:46b6f338fc3445b8846c71dfb1fbd9e8:function:java:codecFunc",
     "description": "xxx"
    }
   },
   "get": {
    "tags": [
     "FunctionServiceManagement"
    ],
    "summary": "查询编解码函数",
    "description": "提供查询编解码函数的功能。",
    "operationId": "ListFunctions",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "app_id",
      "in": "query",
      "description": "**参数说明**:资源空间ID。此参数为非必选参数,存在多资源空间的用户需要使用该接口时,可以携带该参数查询指定资源空间下的产品列表,不携带该参数则会查询该用户下所有产品列表。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$",
      "x-example": "jeQDJQZltU8iKgFFoW060F5SGZka"
     },
     {
      "name": "product_id",
      "in": "query",
      "description": "**参数说明**:设备关联的产品ID,用于唯一标识一个产品模型,创建产品后获得。方法请参见 [创建产品](https://support.huaweicloud.com/api-iothub/iot_06_v5_0050.html)。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$",
      "x-example": "5ba24f5ebbe8f56f5a14f605"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "product_functions": [
         {
          "app_id": "0ab87ceecbfc49acbcc8d5acdef3c68c",
          "product_id": "5ba24f5ebbe8f56f5a14f605",
          "function_id": "9739d740-4da1-46e1-8075-77145265cd92",
          "urn": "urn:fss:cn-north-4:46b6f338fc3445b8846c71dfb1fbd9e8:function:java:codecFunc",
          "description": "xxx",
          "create_time": "20190303T081011Z"
         }
        ],
        "count": 1
       }
      },
      "schema": {
       "$ref": "#/definitions/FunctionQueryResult"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000002"
      ]
     },
     "404": {
      "description": "Not Found"
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000001"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<FunctionQueryResult>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/product-functions",
    "x-request-examples-description-1": "查询编解码函数"
   }
  },
  "/v5/iot/{project_id}/harmony-soft-bus": {
   "post": {
    "tags": [
     "HarmonySoftBus"
    ],
    "summary": "创建鸿蒙软总线",
    "description": "应用服务器可调用此接口新建鸿蒙软总线。",
    "operationId": "AddHarmonySoftBus",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html)。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "X-Auth-Token",
      "in": "header",
      "description": "**参数说明**:用户Token。通过调用IAM服务 [获取IAM用户Token](https://support.huaweicloud.com/api-iam/iam_30_0001.html)接口获取,接口返回的响应消息头中“X-Subject-Token”就是需要获取的用户Token。简要的获取方法样例请参见 [Token认证](https://support.huaweicloud.com/api-iothub/iot_06_v5_0091.html#section0)。",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "huaweicloud"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddHarmonySoftBusRequestBody",
      "description": "**参数说明**:请求结构体,见请求结构体说明。",
      "required": false,
      "schema": {
       "$ref": "#/definitions/AddHarmonySoftBusDTO"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "bus_id": "04ed32dc1b0025b52fe3c01a27c2babc",
        "bus_name": "BusA",
        "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
        "group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
        "status": "Synchronized"
       }
      },
      "schema": {
       "$ref": "#/definitions/HarmonySoftBusResponseDTO"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.006001",
       "IOTDA.006002",
       "IOTDA.006003"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.006005"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "N",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-returnType": "ResponseEntity<HarmonySoftBusResponseDTO>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/harmony-soft-bus",
    "x-request-examples-1": {
     "bus_name": "GroupA",
     "group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
     "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka"
    }
   },
   "get": {
    "tags": [
     "HarmonySoftBus"
    ],
    "summary": "查询鸿蒙软总线列表",
    "description": "应用服务器可调用此接口查询鸿蒙软总线列表。",
    "operationId": "ListHarmonySoftBus",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html)。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "X-Auth-Token",
      "in": "header",
      "description": "**参数说明**:用户Token。通过调用IAM服务 [获取IAM用户Token](https://support.huaweicloud.com/api-iam/iam_30_0001.html)接口获取,接口返回的响应消息头中“X-Subject-Token”就是需要获取的用户Token。简要的获取方法样例请参见 [Token认证](https://support.huaweicloud.com/api-iothub/iot_06_v5_0091.html#section0)。",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "huaweicloud"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "limit",
      "in": "query",
      "description": "**参数说明**:分页查询时每页显示的记录数。\n**取值范围**:1-50的整数,默认值为10。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "**参数说明**:上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。\n**取值范围**:长度为24的十六进制字符串,默认值为ffffffffffffffffffffffff。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffff",
      "pattern": "^[a-fA-F0-9]{24}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "**参数说明**:表示从marker后偏移offset条记录开始查询。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。\n**取值范围**:0-500的整数,默认为0。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     },
     {
      "name": "group_id",
      "in": "query",
      "description": "**参数说明**:设备组ID,用于唯一标识一个设备组,在创建设备组时由物联网平台分配。\n**取值范围**:长度不超过36,十六进制字符串和连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-fA-F0-9-]{1,36}$"
     },
     {
      "name": "app_id",
      "in": "query",
      "description": "**参数说明**:资源空间ID。此参数为非必选参数,存在多资源空间的用户需要使用该接口时,可以携带该参数查询指定资源空间下的产品列表,不携带该参数则会查询该用户下所有产品列表。\n**取值范围**:长度不超过36,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,36}$"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "harmony_soft_buses": [
         {
          "bus_id": "04ed32dc1b0025b52fe3c01a27c2babc",
          "bus_name": "BusA",
          "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
          "group_id": "04ed32dc1b0025b52fe3c01a27c2b0a8",
          "status": "Synchronized"
         }
        ],
        "page": {
         "count": 10,
         "marker": "5c90fa7d3c4e4405e8525079"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/ListHarmonySoftBusResponseDTO"
      }
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "N",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-returnType": "ResponseEntity<ListHarmonySoftBusResponseDTO>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/device-group/harmony-soft-bus?group_id=04ed32dc1b0025b52fe3c01a27c2babc&app_id=jeQDJQZltU8iKgFFoW060F5SGZka"
   }
  },
  "/v5/iot/{project_id}/amqp-queues": {
   "post": {
    "tags": [
     "AmqpQueueManagement"
    ],
    "summary": "创建AMQP队列",
    "description": "应用服务器可调用此接口在物联网平台创建一个AMQP队列。每个租户只能创建100个队列,若超过规格,则创建失败,若队列名称与已有的队列名称相同,则创建失败。",
    "operationId": "AddQueue",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "addQueueReQuestBody",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/QueueInfo"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "queue_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
        "queue_name": "myQueue0",
        "create_time": "20190303T081011Z",
        "last_modify_time": "20190303T081011Z"
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryQueueBase"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.016000"
      ]
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.016001"
      ]
     },
     "404": {
      "description": "Not Found"
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0103",
    "x-returnType": "ResponseEntity<QueryQueueBase>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/amqp-queues",
    "x-request-examples-1": {
     "queue_name": "myQueue0"
    }
   },
   "get": {
    "tags": [
     "AmqpQueueManagement"
    ],
    "summary": "查询AMQP列表",
    "description": "应用服务器可调用此接口查询物联网平台中的AMQP队列信息列表。可通过队列名称作模糊查询,支持分页。",
    "operationId": "BatchShowQueue",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "queue_name",
      "in": "query",
      "description": "**参数说明**:amqp队列名称,支持模糊查询,为空查询所有的队列(当前规格单个用户最大100个队列)。\n**取值范围**:长度不超过128,只允许字母、数字、下划线(_)、连接符(-)、间隔号(.)、冒号(:)的组合。",
      "required": false,
      "type": "string",
      "maxLength": 128,
      "pattern": "^([0-9a-zA-Z-_.:]+)$"
     },
     {
      "name": "limit",
      "in": "query",
      "description": "**参数说明**:分页查询时每页显示的记录数。\n**取值范围**:1-50的整数,默认值为10。",
      "required": false,
      "type": "integer",
      "default": 10,
      "maximum": 50,
      "minimum": 1,
      "format": "int32"
     },
     {
      "name": "marker",
      "in": "query",
      "description": "**参数说明**:上一次分页查询结果中最后一条记录的ID,在上一次分页查询时由物联网平台返回获得。分页查询时物联网平台是按marker也就是记录ID降序查询的,越新的数据记录ID也会越大。若填写marker,则本次只查询记录ID小于marker的数据记录。若不填写,则从记录ID最大也就是最新的一条数据开始查询。如果需要依次查询所有数据,则每次查询时必须填写上一次查询响应中的marker值。\n**取值范围**:长度为24的十六进制字符串,默认值为ffffffffffffffffffffffff。",
      "required": false,
      "type": "string",
      "default": "ffffffffffffffffffffffff",
      "pattern": "^[a-zA-Z0-9]{1,32}$"
     },
     {
      "name": "offset",
      "in": "query",
      "description": "**参数说明**:表示从marker后偏移offset条记录开始查询。默认为0,取值范围为0-500的整数。当offset为0时,表示从marker后第一条记录开始输出。限制offset最大值是出于API性能考虑,您可以搭配marker使用该参数实现翻页,例如每页50条记录,1-11页内都可以直接使用offset跳转到指定页,但到11页后,由于offset限制为500,您需要使用第11页返回的marker作为下次查询的marker,以实现翻页到12-22页。\n**取值范围**:0-500的整数,默认为0。",
      "required": false,
      "type": "integer",
      "default": 0,
      "maximum": 500,
      "minimum": 0,
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "queues": [
         {
          "queue_id": "d4922d8a-6c8e-4396-852c-164aefa6638f",
          "queue_name": "myQueue0",
          "create_time": "20190303T081011Z",
          "last_modify_time": "20190303T081011Z"
         }
        ],
        "page": {
         "count": 10,
         "marker": "5c90fa7d3c4e4405e8525079"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryQueues"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.016000"
      ]
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0102",
    "x-returnType": "ResponseEntity<QueryQueues>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/amqp-queues"
   }
  },
  "/v5/iot/{project_id}/tunnels": {
   "post": {
    "tags": [
     "TunnelManagement"
    ],
    "summary": "创建设备隧道",
    "description": "用户可以通过该接口创建隧道(WebSocket协议),应用服务器和设备可以通过该隧道进行数据传输。\n\n- 该API接口在基础版不支持。\n- 该API调用后平台会向对应的MQTT/MQTTS设备下发隧道地址及密钥,同时给应用服务器也返回隧道地址及密钥,设备可以通过该地址及密钥创建WebSocket协议连接。\n- 一个设备无法创建多个隧道。\n- 具体应用可见“设备远程登录”功能,请参见[设备远程登录](https://support.huaweicloud.com/usermanual-iothub/iot_01_00301.html)。",
    "operationId": "AddTunnel",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "AddTunnelRequestBody",
      "description": "创建隧道请求体",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AddTunnelDto"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "创建设备隧道成功",
      "x-SuccessCode": true,
      "examples": {
       "application/json": {
        "tunnel_id": "d144a524-1997-4b99-94bf-f27128da8a34",
        "tunnel_access_token": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX",
        "expires_in": 86400,
        "tunnel_uri": "wss://tunnel.st1.iotda-app.cn-XXX.myhuaweicloud.com/v5/iot/tunnels/XXX/source-connect"
       }
      },
      "schema": {
       "$ref": "#/definitions/TunnelAccessInfo"
      }
     },
     "400": {
      "description": "输入参数不正确",
      "x-Error": [
       "IOTDA.019708",
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "鉴权认证失败",
      "x-Error": [
       "IOTDA.021102",
       "IOTDA.014016",
       "IOTDA.019706",
       "IOTDA.019707",
       "IOTDA.014016"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-is-registered": "Y",
    "x-support-sdk": "Y",
    "x-returnType": "ResponseEntity<TunnelAccessInfo>",
    "x-imports": "javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/tunnels",
    "x-request-examples-description-1": "创建设备隧道,设备id为b64b7a625b84c1334befb648b_test。",
    "x-request-examples-1": {
     "device_id": "b64b7a625b84c1334befb648b_test"
    }
   },
   "get": {
    "tags": [
     "TunnelManagement"
    ],
    "summary": "查询设备所有隧道",
    "description": "用户可通过该接口查询某项目下的所有设备隧道,以实现对设备管理。应用服务器可通过此接口向平台查询设备隧道建立的情况。\n- 该API接口在基础版不支持。\n- 具体应用可见“设备远程登录”功能,请参见[设备远程登录](https://support.huaweicloud.com/usermanual-iothub/iot_01_00301.html)。",
    "operationId": "ListDeviceTunnels",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "device_id",
      "in": "query",
      "description": "**参数说明**:设备ID",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     }
    ],
    "responses": {
     "200": {
      "description": "查询设备所有隧道信息成功",
      "x-SuccessCode": true,
      "examples": {
       "application/json": {
        "tunnels": [
         {
          "tunnel_id": "d144a524-1997-4b99-94bf-f27128da8a34"
         }
        ],
        "device_id": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0",
        "create_time": "20190303T081011Z",
        "closed_time": "20190303T081011Z",
        "status": "CLOSED",
        "source_connect_state": {
         "last_update_time": "20190303T081011Z",
         "status": "CONNECTED"
        },
        "device_connect_state": {
         "last_update_time": "20190303T081011Z",
         "status": "CONNECTED"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/QueryTunnels"
      }
     },
     "400": {
      "description": "输入参数不正确",
      "x-Error": [
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "鉴权认证失败",
      "x-Error": [
       "IOTDA.021102"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-is-registered": "Y",
    "x-support-sdk": "Y",
    "x-returnType": "ResponseEntity<QueryTunnels>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/tunnels",
    "x-request-examples-description-1": "列表查询设备隧道。"
   }
  },
  "/v5/iot/{project_id}/device-policies/{policy_id}/bind": {
   "post": {
    "tags": [
     "PolicyManagement"
    ],
    "summary": "绑定设备策略",
    "description": "应用服务器可调用此接口在物联网平台上为批量设备绑定目标策略,目前支持绑定目标类型为:设备、产品,当目标类型为产品时,该产品下所有设备都会生效。",
    "operationId": "BindDevicePolicy",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "policy_id",
      "in": "path",
      "description": "策略ID",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{24}$"
     },
     {
      "in": "body",
      "name": "BindDevicePolicyRequestBody",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/BindDevicePolicy"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "policy_id": "5c90fa7d3c4e4405e8525079",
        "target_type": "device",
        "success_targets": [
         "64a7ba7ef9cb063d27e16b97_123456",
         "64a7ba7ef9cb063d27e16b97_123457"
        ],
        "failure_targets": [
         {
          "target_id": "64a7ba7ef9cb063d27e16b97_123458",
          "error_code": "IOTDA.015204",
          "error_msg": "Operation not allowed. The number of policies bound to the target reaches the upper limit (5)."
         }
        ]
       }
      },
      "schema": {
       "$ref": "#/definitions/DevicePolicyBindOrUnbindResponse"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.015203",
       "IOTDA.015204",
       "IOTDA.015205"
      ]
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.015202"
      ]
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "N",
    "x-apig-name": "IoTDA_API",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-returnType": "ResponseEntity<DevicePolicyBindOrUnbindResponse>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/device-policies/{policy_id}/bind",
    "x-request-examples-description-1": "为设备绑定策略",
    "x-request-examples-text-1": {
     "target_type": "device",
     "target_ids": [
      "64a7ba7ef9cb063d27e16b97_123456",
      "64a7ba7ef9cb063d27e16b97_123457"
     ]
    },
    "x-request-examples-url-2": "POST https://{endpoint}/v5/iot/{project_id}/device-policies/{policy_id}/bind",
    "x-request-examples-description-2": "为产品绑定策略",
    "x-request-examples-text-2": {
     "target_type": "product",
     "target_ids": [
      "64a7ba7ef9cb063d27e16b97"
     ]
    }
   }
  },
  "/v5/iot/{project_id}/broadcast-messages": {
   "post": {
    "tags": [
     "BroadcastManagement"
    ],
    "summary": "下发广播消息",
    "description": "应用服务器可调用此接口向订阅了指定Topic的所有在线设备发布广播消息。应用将广播消息下发给平台后,平台会先返回应用响应结果,再将消息广播给设备。\n注意:\n- 此接口只适用于使用MQTT协议接入的设备。",
    "operationId": "BroadcastMessage",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "2b31ed520xxxxxxebedb6e57xxxxxxxx"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "BroadcastMessageRequestBody",
      "description": "请求结构体,见请求结构体说明",
      "required": true,
      "schema": {
       "$ref": "#/definitions/DeviceBroadcastRequest"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "app_id": "jeQDJQZltU8iKgFFoW060F5SGZka",
        "topic_full_name": "$oc/broadcast/test",
        "message_id": "b1224afb-e9f0-4916-8220-b6bab568e888",
        "created_time": "20151212T121212Z"
       }
      },
      "schema": {
       "$ref": "#/definitions/DeviceBroadcastResponse"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000006",
       "IOTDA.014112"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000021",
       "IOTDA.001006",
       "IOTDA.000022",
       "IOTDA.015002"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000001",
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<DeviceBroadcastResponse>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/broadcast-messages",
    "x-request-examples-description-1": "下发广播消息。",
    "x-request-examples-1": {
     "topic_full_name": "$oc/broadcast/test",
     "message": "SGVsbG9Xb3JsZA=="
    }
   }
  },
  "/v5/iot/{project_id}/devices/{device_id}/change-gateway": {
   "post": {
    "tags": [
     "DeviceManagement"
    ],
    "summary": "修改设备网关",
    "description": "应用服务器可调用此接口在物联网平台修改子设备网关。\n- 只允许子设备修改网关。\n- 目标网关必须和当前设备在同一个资源空间。\n- 网关id不能和当前子设备网关id相同。\n- 设备如果有下级子设备,则不允许切换网关。\n- 支持多级子设备,当前最大支持二级子设备。\n- 该接口仅支持创建单个设备切换网关,如需批量切换设备网关,请参见 [创建批量任务](https://support.huaweicloud.com/api-iothub/iot_06_v5_0045.html)。",
    "operationId": "ChangeGateway",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "device_id",
      "in": "path",
      "description": "**参数说明**:设备ID,用于唯一标识一个设备。在注册设备时直接指定,或者由物联网平台分配获得。\n**取值范围**:长度不超过128,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     },
     {
      "in": "body",
      "name": "ChangeGateway",
      "description": "request",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ChangeGateway"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-apig-name": "IoTDA_API",
    "x-externalAPI": true,
    "x-interfaceRisk": "HIGH",
    "x-returnType": "ResponseEntity<Void>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/devices/{device_id}/change-gateway",
    "x-request-examples-description-1": "修改设备网关为d4922d8a-6c8e-4396-852c-164aefa6638f。",
    "x-request-examples-1": {
     "gateway_id": "d4922d8a-6c8e-4396-852c-164aefa6638f"
    }
   }
  },
  "/v5/iot/{project_id}/rules/{rule_id}/status": {
   "put": {
    "tags": [
     "RuleManagement"
    ],
    "summary": "修改规则状态",
    "description": "应用服务器可调用此接口修改物联网平台中指定规则的状态,激活或者去激活规则。",
    "operationId": "ChangeRuleStatus",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html)。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID。",
      "required": false,
      "type": "string",
      "pattern": "[a-f0-9-]{1,36}",
      "x-example": "********"
     },
     {
      "name": "rule_id",
      "in": "path",
      "description": "**参数说明**:规则Id。\n**取值范围**:长度不超过32,只允许字母、数字的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]{1,32}$"
     },
     {
      "in": "body",
      "name": "ChangeRuleStatusRequestBody",
      "description": "**参数说明**:请求的body对象,详细请看规则结构体。",
      "required": true,
      "schema": {
       "$ref": "#/definitions/RuleStatus"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "status": "active"
       }
      },
      "schema": {
       "$ref": "#/definitions/RuleStatus"
      }
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.000006",
       "IOTDA.000013",
       "IOTDA.010000"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000004",
       "IOTDA.000021",
       "IOTDA.001000",
       "IOTDA.001002",
       "IOTDA.001005",
       "IOTDA.001006",
       "IOTDA.001007"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.010002"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0088",
    "x-externalAPI": true,
    "x-imports": [
     "org.springframework.http.ResponseEntity;"
    ],
    "x-request-examples-url-1": "PUT https://{endpoint}/v5/iot/{project_id}/rules/{rule_id}/status",
    "x-request-examples-1": {
     "status": "status"
    }
   }
  },
  "/v5/iot/{project_id}/certificates/{certificate_id}/action": {
   "post": {
    "tags": [
     "CertificateManagement"
    ],
    "summary": "验证设备CA证书",
    "description": "应用服务器可调用此接口在物联网平台验证设备的CA证书,目的是为了验证用户持有设备CA证书的私钥",
    "operationId": "CheckCertificate",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Sp-Auth-Token",
      "in": "header",
      "description": "Sp用户Token。通过调用IoBPS服务获取SP用户Token",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "chinatelecom"
     },
     {
      "name": "Stage-Auth-Token",
      "in": "header",
      "description": "Stage用户的Token, 仅提供给IoStage服务使用",
      "required": false,
      "type": "string",
      "x-example": "MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXX...",
      "x-effective-scene": "stage"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "certificate_id",
      "in": "path",
      "description": "设备CA证书ID,在上传设备CA证书时由平台分配的唯一标识。",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 36,
      "pattern": "^[a-f0-9-]{1,36}$",
      "x-example": "2b31ed520xxxxxxebedb6e57xxxxxxxx"
     },
     {
      "name": "action_id",
      "in": "query",
      "description": "对证书执行的操作,当前仅支持verify:校验证书",
      "required": true,
      "type": "string",
      "pattern": "(verify)"
     },
     {
      "in": "body",
      "name": "checkCertificateRequestBody",
      "description": "certificate",
      "required": true,
      "schema": {
       "$ref": "#/definitions/VerifyCertificateDTO"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "type": "string"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDA.014301",
       "IOTDA.014307",
       "IOTDA.014308"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDA.000021",
       "IOTDA.001006",
       "IOTDA.001007",
       "IOTDA.000022"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDA.014306"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0016",
    "x-externalAPI": true,
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<Void>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/certificates/{certificate_id}/action",
    "x-request-examples-1": {
     "verify_content": "-----BEGIN CERTIFICATE-----\nMIIDnzCCAocCCQCs5+qyyItl5TANBgkqhkiG9w0BAQsFADCBgjELMAkGA1UEBhMC\nQ04xETAPBgNVBAgMCEd1YW5kb25nMREwDwYDVQQHDAhTaGVuemhlbjEPMA0GA1UE\nCgwGSHVhd2VpMQwwCgYDVQQLDANpb3QxEjAQBgNVBAMMCTEyMzQ1Njc4OTEaMBgG\nCSqGSIb3DQEJARYLZGprYUBxcS5jb20wHhcNMTkxMjE5MTMyMTM3WhcNMjEwNTAy\nMTMyMTM3WjCBnzELMAkGA1UEBhMCQ04xEjAQBgNVBAgMCUd1YW5nZG9uZzERMA8G\nA1UEBwwIU2hlbnpoZW4xDzANBgNVBAoMBm9yaWdpbjENMAsGA1UECwwEdW5pdDEt\nMCsGA1UEAwwkMmM4YjU5MDUtYjM0YS00YjY0LTgxMTItZjZjMDQ3YWUwNjVjMRow\nGAYJKoZIhvcNAQkBFgtqbGtqQHFxLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEP\nADCCAQoCggEBAM72QUzoadvLfxGjt3UFoZ4MJbblqnRbouO4KpOVHBXyS2yQVl4C\nWWMhLh4pp2efNUSqKuXHjY3r68PquyNnYk8zO59zVc7JHvjGkBvo7DgPRAhEKPLJ\nIpRzkmlCBbxwTNCjc3FovGb/sHHNlpGncCKUzMfPGNZuBiuemskuEXL/eMHxDPbX\nYWn4Wq0wt+28PKUL5jybY7nsXSNnmAPFTO0CAmq0meUukubT/jHDCQ78ihQ/iqw1\nRNq88aCqRleoHiGg5nWkjL+05GXqUrqVVnZNL+YqcXzuVMs5XgyhNM2AsuH2g3D8\nZuF6Dj9qY1n/v/Cp/DGpxP3A74SlplnFD/0CAwEAATANBgkqhkiG9w0BAQsFAAOC\nAQEAh1SF1Z/p8nT7k8868lLNBZrIcErMlkFdghn2HRYyw5iilDXL28lJEBax2X1M\nNl2fD/rov9gwxhyrBZD2YkevL8k+DXcVpVEoozwpUR3p79YEyT0E3jI67G/EiB2h\n+o7+deDlH7d7Li/ZOSQC6JTSLshBhi+B8CQmYYt6YCjN7Rswbf1Z8bsQNrcsxW36\nZM3uG3i9GrEktypTNXMRUbG5gngaFKbRGGUPWNYdNXQeXUW9cpj8HAyndESEwAYz\ntLKHdnM874P8ZAmRkijZoToOCMcT0s8l8SoYUR7iWI0E08KYzAPgLX9Xvw42GCEF\nb2TJfnOIwhu8gFf7cwlCGC+gRA==\n-----END CERTIFICATE-----"
    }
   }
  },
  "/v5/iot/{project_id}/tunnels/{tunnel_id}": {
   "put": {
    "tags": [
     "TunnelManagement"
    ],
    "summary": "关闭设备隧道",
    "description": "应用服务器可通过该接口关闭某个设备隧道。关闭后可以再次连接。\n- 该API接口在基础版不支持。\n- 具体应用可见“设备远程登录”功能,请参见[设备远程登录](https://support.huaweicloud.com/usermanual-iothub/iot_01_00301.html)。",
    "operationId": "CloseDeviceTunnel",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "tunnel_id",
      "in": "path",
      "description": "隧道ID",
      "required": true,
      "type": "string",
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     }
    ],
    "responses": {
     "204": {
      "description": "no content",
      "x-SuccessCode": true,
      "schema": {
       "type": "string"
      }
     },
     "400": {
      "description": "输入参数不正确",
      "x-Error": [
       "IOTDA.021102",
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "鉴权认证失败",
      "x-Error": [
       "IOTDA.021102",
       "IOTDA.019701"
      ]
     },
     "404": {
      "description": "隧道不存在",
      "x-Error": [
       "IOTDA.021102"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-is-registered": "Y",
    "x-support-sdk": "Y",
    "x-returnType": "ResponseEntity<Void>",
    "x-request-examples-url-1": "PUT https://{endpoint}/v5/iot/{project_id}/tunnels/{tunnel_id}",
    "x-request-examples-description-1": "关闭设备隧道。"
   },
   "delete": {
    "tags": [
     "TunnelManagement"
    ],
    "summary": "删除设备隧道",
    "description": "用户可通过该接口删除某个设备隧道。删除后该通道不存在,无法再次连接。\n- 该API接口在基础版不支持。\n- 具体应用可见“设备远程登录”功能,请参见[设备远程登录](https://support.huaweicloud.com/usermanual-iothub/iot_01_00301.html)。",
    "operationId": "DeleteDeviceTunnel",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "tunnel_id",
      "in": "path",
      "description": "隧道ID",
      "required": true,
      "type": "string",
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     }
    ],
    "responses": {
     "204": {
      "description": "no content",
      "x-SuccessCode": true,
      "schema": {
       "type": "string"
      }
     },
     "400": {
      "description": "输入参数不正确",
      "x-Error": [
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "鉴权认证失败",
      "x-Error": [
       "IOTDA.021102",
       "IOTDA.019701",
       "IOTDA.019703"
      ]
     },
     "404": {
      "description": "隧道不存在",
      "x-Error": [
       "IOTDA.019700"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-is-registered": "Y",
    "x-support-sdk": "Y",
    "x-returnType": "ResponseEntity<Void>",
    "x-request-examples-url-1": "DELELE https://{endpoint}/v5/iot/{project_id}/tunnels/{tunnel_id}"
   },
   "get": {
    "tags": [
     "TunnelManagement"
    ],
    "summary": "查询设备隧道",
    "description": "用户可通过该接口查询某项目中的某个设备隧道,查看该设备隧道的信息与连接情况。应用服务器可调用此接口向平台查询设备隧道建立情况。\n- 该API接口在基础版不支持。\n- 具体应用可见“设备远程登录”功能,请参见[设备远程登录](https://support.huaweicloud.com/usermanual-iothub/iot_01_00301.html)。",
    "operationId": "ShowDeviceTunnel",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0121.html) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "tunnel_id",
      "in": "path",
      "description": "隧道ID",
      "required": true,
      "type": "string",
      "maxLength": 128,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "x-SuccessCode": true,
      "examples": {
       "application/json": {
        "tunnel_id": "d144a524-1997-4b99-94bf-f27128da8a34",
        "device_id": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0",
        "create_time": "20190303T081011Z",
        "closed_time": "20190303T081011Z",
        "status": "CLOSED",
        "source_connect_state": {
         "last_update_time": "20190303T081011Z",
         "status": "CONNECTED"
        },
        "device_connect_state": {
         "last_update_time": "20190303T081011Z",
         "status": "CONNECTED"
        }
       }
      },
      "schema": {
       "$ref": "#/definitions/TunnelInfo"
      }
     },
     "400": {
      "description": "输入参数不正确",
      "x-Error": [
       "IOTDA.019708",
       "IOTDA.000006"
      ]
     },
     "403": {
      "description": "鉴权认证失败",
      "x-Error": [
       "IOTDA.019701",
       "IOTDA.021102"
      ]
     },
     "404": {
      "description": "隧道不存在",
      "x-Error": [
       "IOTDA.019700"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-is-registered": "Y",
    "x-support-sdk": "Y",
    "x-returnType": "ResponseEntity<TunnelInfo>",
    "x-request-examples-url-1": "GET https://{endpoint}/v5/iot/{project_id}/tunnels/{tunnel_id}",
    "x-request-examples-description-1": "查询设备隧道详情。"
   }
  },
  "/v5/iot/{project_id}/batchtasks/{task_id}/confirm": {
   "post": {
    "tags": [
     "BatchTask"
    ],
    "summary": "确认执行批量任务",
    "description": "应用服务器可调用此接口确执行认批量任务,目前只支持task_type为firmwareUpgrade,softwareUpgrade和moduleUpgrade。如果task_id对应任务已经完成(成功、失败、部分成功,已经停止)或正在停止中,则不可以调用该接口。如果请求Body为{},则调用该接口后会确认执行所有处于等待中状态子任务。",
    "operationId": "ConfirmBatchTask",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID。",
      "required": false,
      "type": "string",
      "maxLength": 36,
      "minLength": 1,
      "pattern": "[a-f0-9-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "task_id",
      "in": "path",
      "description": "**参数说明**:批量任务ID,创建批量任务时由物联网平台分配获得。\n**取值范围**:长度不超过24,只允许小写字母a到f、数字的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-f0-9]{1,24}$"
     },
     {
      "in": "body",
      "name": "ConfirmBatchTaskRequestBody",
      "description": "request",
      "required": false,
      "schema": {
       "$ref": "#/definitions/BatchTargets"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "targets": [
         {
          "target": "e495cf17-ff79-4294-8f64-4d367919d665",
          "status": "failure",
          "error_code": "IOTDA.014219",
          "error_msg": "Invalid input. The target is not in the task"
         },
         {
          "target": "e495cf17-ff79-4294-8f64-4d367919d677",
          "status": "success"
         }
        ]
       }
      },
      "schema": {
       "$ref": "#/definitions/BatchTargetsResponse"
      }
     },
     "401": {
      "description": "Unauthorized"
     },
     "404": {
      "description": "Not Found"
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-iftype": "OpenAPI_new",
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-apig-name": "IoTDA_API",
    "x-returnType": "ResponseEntity<BatchTargetsResponse>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/batchtasks/{task_id}/confirm",
    "x-request-examples-description-1": "确认执行所有处于等待中状态子任务。",
    "x-request-examples-text-1": {},
    "x-request-examples-url-2": "POST https://{endpoint}/v5/iot/{project_id}/batchtasks/{task_id}/confirm",
    "x-request-examples-description-2": "确认执行指定目标集合的子任务。",
    "x-request-examples-text-2": {
     "targets": [
      "e495cf17-ff79-4294-8f64-4d367919d665"
     ]
    }
   }
  },
  "/v5/iot/{project_id}/devices/{device_id}/async-commands-history/count": {
   "post": {
    "tags": [
     "AsyncCommandManagement"
    ],
    "summary": "统计设备下的历史命令总数",
    "description": "统计设备下的历史命令总数。",
    "operationId": "CountAsyncHistoryCommands",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "2b31ed520xxxxxxebedb6e57xxxxxxxx"
     },
     {
      "name": "device_id",
      "in": "path",
      "description": "**参数说明**:下发命令的设备ID,用于唯一标识一个设备,在注册设备时由物联网平台分配获得。\n**取值范围**:长度不超过128,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "name": "start_time",
      "in": "query",
      "description": "**参数说明**:查询命令下发时间在startTime之后的记录,格式:yyyyMMdd'T'HHmmss'Z',如20151212T121212Z。",
      "required": false,
      "type": "string",
      "pattern": "^[0-9]{8}[T]{1}[0-9]{6}[Z]{1}$"
     },
     {
      "name": "end_time",
      "in": "query",
      "description": "**参数说明**:查询命令下发时间在endTime之前的记录,格式:yyyyMMdd'T'HHmmss'Z',如20151212T121212Z。",
      "required": false,
      "type": "string",
      "pattern": "^[0-9]{8}[T]{1}[0-9]{6}[Z]{1}$"
     },
     {
      "name": "status",
      "in": "query",
      "description": "**参数说明**:命令状态。",
      "required": false,
      "type": "string",
      "pattern": "(EXPIRED|SUCCESSFUL|FAILED|TIMEOUT|DELIVERED)"
     },
     {
      "name": "command_name",
      "in": "query",
      "description": "**参数说明**:命令名称。",
      "required": false,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "count": 100
       }
      },
      "schema": {
       "$ref": "#/definitions/CountAsyncDeviceCommandResponse"
      },
      "x-SuccessCode": true
     },
     "400": {
      "description": "Bad Request",
      "x-Error": [
       "IOTDM.000009",
       "IOTDM.000010"
      ]
     },
     "403": {
      "description": "Forbidden",
      "x-Error": [
       "IOTDM.001006"
      ]
     },
     "404": {
      "description": "Not Found",
      "x-Error": [
       "IOTDM.014000"
      ]
     },
     "500": {
      "description": "Internal Server Error"
     }
    },
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-imports": "org.springframework.http.ResponseEntity;",
    "x-iftype": "OpenAPI_new",
    "x-returnType": "ResponseEntity<CountAsyncDeviceCommandResponse>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/devices/{device_id}/async-commands-history/count",
    "x-request-examples-description-1": "统计设备下的历史命令总数。"
   }
  },
  "/v5/iot/{project_id}/auth/accesscode": {
   "post": {
    "tags": [
     "AccessCodeManagement"
    ],
    "summary": "生成接入凭证",
    "description": "接入凭证是用于客户端使用AMQP等协议与平台建链的一个认证凭据。只保留一条记录,如果重复调用只会重置接入凭证,使得之前的失效。",
    "operationId": "CreateAccessCode",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "04ed32dc1b0025b52fe3c01a27c2b0a8"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,一般华为云租户无需携带该参数,仅在物理多租场景下从管理面访问API时需要携带该参数。",
      "required": false,
      "type": "string",
      "maxLength": 36,
      "minLength": 0,
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "CreateAccessCodeRequestBody",
      "description": "生成接入凭证的请求结构体",
      "required": true,
      "schema": {
       "$ref": "#/definitions/CreateAccessCodeRequestBody"
      }
     }
    ],
    "responses": {
     "201": {
      "description": "Created",
      "examples": {
       "application/json": {
        "access_key": "examples",
        "access_code": "examples"
       }
      },
      "schema": {
       "$ref": "#/definitions/AccessCodeDTO"
      },
      "x-SuccessCode": true
     },
     "403": {
      "description": "FORBIDDEN",
      "x-Error": [
       "IOTDA.000021",
       "IOTDA.000023"
      ]
     },
     "500": {
      "description": "Internal Server Error",
      "x-Error": [
       "IOTDA.000020"
      ]
     }
    },
    "x-iftype": "OpenAPI_new",
    "x-imports": "org.springframework.web.bind.annotation.ModelAttribute;javax.validation.Valid;org.springframework.http.ResponseEntity",
    "x-support-sdk": "Y",
    "x-is-registered": "Y",
    "x-publishpath": "iot_06_v5_0111",
    "x-returnType": "ResponseEntity<AccessCodeDTO>",
    "x-request-examples-url-1": "POST https://{endpoint}/v5/iot/{project_id}/auth/accesscode",
    "x-request-examples-1": {
     "type": "AMQP"
    }
   }
  },
  "/v5/iot/{project_id}/devices/{device_id}/async-commands": {
   "post": {
    "tags": [
     "AsyncCommandManagement"
    ],
    "summary": "下发异步设备命令",
    "description": "设备的产品模型中定义了物联网平台可向设备下发的命令,应用服务器可调用此接口向指定设备下发异步命令,以实现对设备的控制。平台负责将命令发送给设备,并将设备执行命令结果异步通知应用服务器。 命令执行结果支持灵活的数据流转,应用服务器通过调用物联网平台的创建规则触发条件(Resource:device.command.status,Event:update)、创建规则动作并激活规则后,当命令状态变更时,物联网平台会根据规则将结果发送到规则指定的服务器,如用户自定义的HTTP服务器,AMQP服务器,以及华为云的其他储存服务器等, 详情参考[设备命令状态变更通知](https://support.huaweicloud.com/api-iothub/iot_06_v5_01212.html)。\n注意:\n- 此接口适用于NB设备异步命令下发,暂不支持其他协议类型设备命令下发。\n- 此接口仅支持单个设备异步命令下发,如需多个设备异步命令下发,请参见 [创建批量任务](https://support.huaweicloud.com/api-iothub/iot_06_v5_0045.html)。",
    "operationId": "CreateAsyncCommand",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "**参数说明**:项目ID。获取方法请参见 [获取项目ID](https://support.huaweicloud.com/api-iothub/iot_06_v5_1001.html) 。",
      "required": true,
      "type": "string",
      "pattern": "^[a-fA-F0-9]{1,32}$",
      "x-example": "2b31ed520xxxxxxebedb6e57xxxxxxxx"
     },
     {
      "name": "device_id",
      "in": "path",
      "description": "**参数说明**:下发命令的设备ID,用于唯一标识一个设备,在注册设备时由物联网平台分配获得。\n**取值范围**:长度不超过128,只允许字母、数字、下划线(_)、连接符(-)的组合。",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_-]{1,128}$"
     },
     {
      "name": "Instance-Id",
      "in": "header",
      "description": "**参数说明**:实例ID。物理多租下各实例的唯一标识,建议携带该参数,在使用专业版时必须携带该参数。您可以在IoTDA管理控制台界面,选择左侧导航栏“总览”页签查看当前实例的ID,具体获取方式请参考[查看实例详情](https://support.huaweicloud.com/usermanual-iothub/iot_01_0079.html#section1) 。",
      "required": false,
      "type": "string",
      "pattern": "[0-9a-f-]{1,36}",
      "x-example": "1a7ffc5c-d89c-44dd-8265-b1653d951ce0"
     },
     {
      "in": "body",
      "name": "CreateAsyncCommandRequestBody",
      "description": "请求结构体,见请求结构体说明",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AsyncDeviceCommandRequest"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "examples": {
       "application/json": {
        "device_id": "c1224afb-e9f0-4916-8220-b6bab568e888",
        "command_id": "b1224afb-e9f0-4916-8220-b6bab568e888",
        "service_id": "Switch",
        "command_name": "ON_OFF",
        "send_strategy": "immediately",
        "paras": {
         "value": "ON"
        },
        "expire_time": 0,
        "status": "SENT",
        "created_time": "20151212T121212Z"
       }
      },
      "schema": {
[...]
